<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
  
      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-h-circle"></i>
        <h1>otels</h1>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hotels" >Quarantine Hotels</a></li>
          <% if(!currentUser) { %>
            <li><a class="nav-link" href="/login">Login</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
            <% } else { %>
            <li><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
        </ul>
      </nav><!-- .navbar -->
  
      <div class="header-social-links">
        <a href="https://twitter.com/?lang=en" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>

<main id="main" data-aos="fade" data-aos-delay="300">
        <div class="col-6 offset-3 margin-top">
            <h1 class="mb-5 text-center">Submit Your Review</h1>
            <form action="/hotels/<%=hotel._id%>" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-5">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="review[body]" required></textarea>
                </div>

                <div class="mb-5">
                    <label for="formFileMultiple" class="form-label">Choose Images</label>
                    <input class="form-control" type="file" id="formFileMultiple" id="image" name="image" multiple >
                  </div>
                
                <div class="mb-5">
                    <button class="btn btn-success">Add Review</button>
                </div>
            </form>
            <a href="/hotels">All Hotels</a>
        </div>

</main>

