<% layout('layouts/boilerplate')%>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
  
      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-h-circle"></i>
        <h1>otels</h1>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hotels" >Quarantine Hotels</a></li>
          <% if(!currentUser) { %>
            <li><a class="nav-link active" href="/login">Login</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
            <% } else { %>
            <li><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
        </ul>
      </nav><!-- .navbar -->
  
      <div class="header-social-links">
        <a href="https://twitter.com/?lang=en" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>

<div class="container d-flex justify-content-center align-items-center margin-top" data-aos="fade" data-aos-delay="300">
    <div class="row">
            <a href="/hotels">
                <h1 class="card-title mb-3 text-center" style="color: white"><i class="bi bi-h-circle" style="color:#2cbc85"></i> otels</h1>
            </a>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success col-12">Login</button>
            </form>

    </div>
    
</div>



